html, body {
  height: 100%;
}

body {
  margin-top: 56px;
}

.cbreader {
  min-height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.cbreader {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f7f7f7;
}

.rowHeader {
  font-size: 1.3rem;
  font-weight: bolder;
}

.rowHeader button {
  margin-right: 25px;
}

.rowComics {
  margin-bottom: 16px;
}

.card {
  float: left;
  width: 219px;
  padding: .75rem;
  margin: 3px;
  cursor: pointer;
}

.card > img {
  width: 195px;
  height: 292px;
  margin-bottom: .75rem;
}

.card-text {
  font-size: 75%;
  text-align: center;
}

.issueOptions {
  position: absolute;
  top: 15px;
  right: 15px;
}

img.selectCover {
  width: 100px;
  margin: 5px;
  cursor: pointer;
}

.loadAllCovers {
  text-align: center;
  cursor: pointer;
}

.popover{
  max-width: 600px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#issues {
  display: none;
}