html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin-top: 40px;
}

.navbar {
  margin-bottom: 0;
  font-weight: bolder;
}

.cbreader {
  min-height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f5f5f5;
}

.rowHeader {
  font-weight: bolder;
}

#comics .rowHeader {
  margin: 10px 0 20px 0;
}

#issues .rowHeader {
  font-size: 1.5em;
}

#issues .rowHeader button {
  margin-right: 15px;
}

.rowHeader .curChar {
  font-size: 10rem;
  line-height: none;
}

.rowChar {
  padding: 25px 0;
}

.row_odd {
  background-color: #e3e3e3;
  color: #f5f5f5;
}

.row_even {
  background-color: #f5f5f5;
  color: #e3e3e3;
}

.shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
  float: left;
  width: 208px;
  margin: 10px;
  cursor: pointer;
}

.card > img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  object-position: 50% 0;
}

.card-text {
  color: dimgray;
  font-size: .75em;
  font-weight: bolder;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.issueOptions {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

img.selectCover {
  width: 100px;
  margin: 5px;
  cursor: pointer;
}

.loadAllCovers {
  text-align: center;
  cursor: pointer;
}

.popover{
  max-width: 600px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

#issues {
  display: none;
}